<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="userConnected">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/menu">Menu</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/restaurant" *ngIf="userConnected.type != 'client'">Restaurant</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/commande" *ngIf="userConnected.type != 'client'">Commande</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/plat_a_livrer" *ngIf="userConnected.type != 'client'">Plat à livrer</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success">Search</button>
      </form>

       <button class="btn btn-outline-success" style="margin-left: 10px;" (click)="deconnect()">Deconnecter</button>
    </div>
  </div>
</nav>